#statistics .next-step { 
	position: absolute;
	bottom: 30px;
	right: 30px;
	border: 4px solid red;
	border-radius: 100%;
	font-size: 25px;
	background: black;
	color: white;
	cursor: pointer;
}
.stats-grid { 
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 20% 80%;
	height:100vh;
	row-gap: 10px;
	column-gap:10px;
}
.stats-grid .title {
	height:40%;
	font-size:25px;
	text-align:center;
	margin-bottom:auto;
	margin-top:auto;
}
.stat-card { 
	position:relative;
	margin-top:auto;
	margin-bottom:auto;
	height:70vh;
	padding:10px;
	margin-left:30px;
	margin-right:30px;
	border:4px solid red;
	border-radius:20px;
	overflow:hidden;
}
.stat-card .card-content {
	padding:10px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	filter:blur(20px);
	transition:all ease 0.2s;
	width:95%;
	background-color:gray;
	height:100%;
}
.viewdata {
	height:100%;
	width:100%;
}
.viewdata .title {
	text-align:center;
	width:100%;
	font-size:35px;
}
.preview { 
	position:relative;
	z-index:1;
	display:flex;
	height:100%;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}
.preview .openCardButton {
	padding:10px;
	border:4px solid red;
	border-radius:20px;
	font-size:25px;
	background-color:black;
	color:white;
	transition:all ease 0.2s;
	animation:borderPulse 2.3s ease-in-out infinite;
	cursor:pointer;
} 
.openCardButton:hover {
	background-color:white;
	color:black;
	padding:15px;
}
.openAll {
	border:2px solid dashed;
	border-radius:20px;
	padding:5px;
	font-size:25px;
	background-color:black;
	color:gray;
	cursor:pointer;
	transition:all ease 0.2s;
}
.openAll:hover { 
	background-color:gray;
	color:white;
	border:2px solid gray;
} 

.viewdata .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.viewdata .content div {
	font-size: 25px;
	font-weight: bold;
	color: #ffdd57;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	padding: 5px 10px;
	transition: all 0.3s ease;
} 
.viewdata .content div:nth-child(3) { 
	flex-basis: 100%;
	margin-top: 10px;
} 
.heart-svg { 
	width:200px; 
	height:200px; 
	margin:20px auto; 
	display:block;
}
#heart-stroke { 
	stroke-dasharray:1000; 
        stroke-dashoffset:1000; 
	animation: drawHeart 1.2s ease-out forwards; 
}
#heart-fill { 
	transform:translateY(0); 
	transition: transform 1.2s ease-out; 
}
#arrow {
	transform-box: fill-box; 
	transform-origin:center; 
 	transition: transform 0.6s ease-out, opacity 0.2s;
}
.pulse-heart { 
	animation: pulseHeart 1s ease-in-out infinite alternate; 
}

@keyframes drawHeart { 
	to { stroke-dashoffset: 0; } 
}
@keyframes pulseHeart {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}
