#association {
	display:flex;
	flex-direction: column;
	align-items:end;
}

#top {
	transform: translateY(-100px);
	opacity: 0;
	transition: transform 0.8s ease, opacity 0.8s ease;
}

#bottom {
	transform: translateY(100px);
	opacity: 0;
	transition: transform 0.8s ease, opacity 0.8s ease;
}

#association .title {
	text-align:center;
	font-size:25px;
	height:180px;
	width:100vw;
	opacity: 0;
  	transition: opacity 1s ease;
}

/* Классы для запуска анимации */
#top.show {
  transform: translateY(0);
  opacity: 1;
}

#bottom.show {
  transform: translateY(0);
  opacity: 1;
}

#association .title.show {
  opacity: 1;
}

.image-container {
	display:flex;
	height:auto;
	margin-top:30px;
	justify-content: end;
}

.card-image {
	width:32%;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	border-radius:30px;
}

.next-step {
	width:40px;
	height:40px;
	font-size:25px;
	border:4px solid red;
	border-radius:100%;
	background-color:black;
	margin:10px;
	color:white;
	cursor:pointer;
}
