
.pulse-btn {
	padding: 15px 30px;
	font-size: 25px;
	background-color: black;
	color: white;
	border: 2px solid red;
	border-radius: 20px;
	transition: all 0.2s ease;
	position: relative;
	z-index: 0;
	overflow: hidden;
	cursor: pointer;
	animation: borderPulse 1.2s ease-in-out infinite;
}

@keyframes borderPulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}
	50% {
		box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.pulse-btn:hover {
	background-color: white;
	color: black;
}
