#collage {
	display:block; 
	position:relative; 
	width: 100%; 
	height: 100vh; 
	overflow: hidden; 
} 
.p-c-Bg { 
	position: absolute; 
	inset: 0; 
	display: grid; 
	grid-template-columns: repeat(4, 1fr); /* 3 колонки */ 
	grid-template-rows: repeat(4, 1fr); /* 2 ряда */ 
	width: 100%; 
	height: 100%; 
	z-index: 0; 
} 
.p-c-Bg img { 
	width:25vw; 
	height:25vh; 
	object-fit:cover; 
	filter:blur(2px); 
} 
.title-collage { 
	position:relative; 
	transform:translateY(100%); 
	font-size: 40px; 
	text-align:center; 
	color:white; 
	z-index:5; 
	padding:20px; 
	font-weight:bold; 
}

#collage .next-step {
	position: absolute;
	z-index: 10; /* ВОТ ЭТО ОБЯЗАТЕЛЬНО */
	bottom: 30px;
	right: 30px;
	border: 4px solid red;
	border-radius: 100%;
	font-size: 25px;
	background: black; /* желательно */
	color: white;       /* чтобы было видно */
	cursor: pointer;	
}

@keyframes scroll {
	0% { transform: translateY(0); }
	100% { transform: translateY(100%); }
}
