body {
	padding:0px;
	margin:0px;
}

/* базовое состояние */
section {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 0.8s ease;
	background-color:black;
	color:white;
}

/* активная секция */
section.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 0);
}

/* слайд слева */
section[data-anim="slide-left"].enter {
  transform: translateX(100%);
}

section[data-anim="slide-left"].active {
  transform: translateX(0);
}

/* слайд справа */
section[data-anim="slide-right"].enter {
  transform: translateX(-100%);
}

/* слайд сверху */
section[data-anim="slide-up"].enter {
  transform: translateY(100%);
}

/* слайд снизу */
section[data-anim="slide-down"].enter {
  transform: translateY(-100%);
}

/* fade */
section[data-anim="fade"].enter {
  opacity: 0;
}


#start {
	display:flex;
	justify-content: center;	
	align-items:center;
	flex-direction: column;
}

#start .title {
	font-size:30px;
	padding-bottom:20px;
}
